:root{
    appearance: none;
}
    
    body{
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* .img{
    width: 100%;
    height: 100%;
} */

left{
    width: 30%;
    height: 100%;
    position: relative;
    background-image: url(images/green.jpg) ;
    background-repeat: no-repeat; 
    background-size:     cover;
}
.text{
    font-size: 35px;
    color: white;
}

right{
    /* padding-left: 50px; */
    width: 70%;
    
}
frow,srow,trow{
    display: flex;
}
name{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;

}
.logo{
    position: absolute;
    height: 10vh;
    display: flex;
    width: 100%;
    background: rgb(0 0 0 / 50%);
    top:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotext{
    color: white;
}

button{
    width: 100px;
    height:30px;
    background-color:#596D48;
    color: white;
    border-radius: ;
}

.logoimg{
    height: 100%;
    width: 20%;
}

input{
    width: 50px;
}
input:focus{
    outline: none !important;
    border: 2px solid blue;

}


.top{
    height: 30%;
}
span{

    text-decoration: underline;
}
leftfoot{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
}


.midlayer{
    background-color: rgb(201, 239, 226);
    padding: 20px;
    border-radius: 5px;
}
fhead{
    font-size: 20px;
    font-weight: bold;
}