:root{
    appearance: none;
    --leftmarg :40px;
}
    
@font-face {
    font-family: norse;
    src: url(fonts/Norse-Bold.otf) format("opentype");
  }


    body{
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* .img{
    width: 100%;
    height: 100%;
} */

left{
    width: 40%;
    height: 100%;
    position: relative;
    background-image: url(images/green.jpg) ;
    background-repeat: no-repeat; 
    background-size:     cover;
}
.text{
    font-size: 35px;
    color: white;
}

right{
    /* padding-left: 50px; */
    width: 70%;
    background-color: rgba(249,250,252,255)
    ;
    
}
frow,srow,trow{
    display: flex;
}

.toplayer,.botlayer{
    margin-left: 30px;
}
name,.pass,.contact{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;

}
.logo{
    position: absolute;
    height: 10vh;
    display: flex;
    width: 100%;
    background: rgb(0 0 0 / 50%);
    top:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotext{
    color: white;
    font-family: norse;
}

button{
    width: 200px;
    height:30px;
    background-color:#596D48;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.logoimg{
    height: 100%;
    width: 20%;
}

input{
    width: 200px;
    margin-bottom: 20px;
    margin-right: 15px;
    border: 1px solid gainsboro;
    border-radius: 2px;
}

fhead{
    margin-bottom: 20px;
}
input:focus{
    outline: none !important;
    border: 1px solid rgb(60, 60, 224);

}


.toplayer{
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: bold;
    margin-right: 150px;
}
.midlayer{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.botlayer{
    margin-top: 30px;
}



header{
    margin-bottom: 20px;
}
span{

    text-decoration: underline;
}
leftfoot{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
}


fhead{
    font-size: 20px;
    font-weight: bold;
}

.login{
    margin-top: 20px;
}
login{
    color: rgba(105,119,92,255)  ;
}